<%= form_for([@post, @comments]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :parent_id, :value => params[:parent_id] %>
  <div class="field">
    <%= f.text_field :body, placeholder: "Compose new comment..." %>
  </div>
  <%= f.submit "Send", class: "btn btn-large btn-primary" %>
<% end %>